*{
    margin: 0;
    padding: 0;
}
a{
    color: black;
}
li{
    list-style: none;
}
.clear{
    clear: both;
}
body{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.wrapper{
    width: 100%;
}
/*************HEADER-CONTAINER******* */
#reponsive{
    width: 100%;
    height: 53px;
}
.only-pc{
    width: 100%;
    height: auto;
}
.header-container{
    background: #eee;
    min-width: 1200px;
    height: 53px;
    position: fixed!important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}
.header{
    margin: 0 auto;
    width: 1200px;
    height: 100%;
    display: flex;
}
.header-menu-left{
    width: 360px;
    height: 53px;
    background: #e11b1e;
    display: flex;
    align-items: center;
}
.left img{
    border: 1px solid #eee;
    width: 35px;
    height: 35px;  
}
.list-img .img-item{
    min-width: 100%;
    display: flex;
}
.left .logo{
    padding: 9px 10px;
}
.left-btn .dropdown-menu ul li{
    list-style: none;
}
.left-btn .dropdown-menu ul li i{
    padding-right: 5px;
}
.btn-group{
    width: 100px;
    height: 34px;
    background: #ccc;
}
.left-search{
    width: 204px;
    display: flex;
}
.left-search input{
    width: 155px;
    height: 34px;
    border: 1px solid #fff;
    outline: none;
}
.left-search button{
    width: 37px;
    height: 34px;
    background:#fff;
    border: none;
}
.left-search button i{
    font-size: 80%;
    color: #444;
}
.left-search button:focus{
    outline: none;
}
/* *************HEADER-RIGHT**********/
.menu-list{
    width: 100%;
    height: 100%;
}
.header-menu-right{
    width: 840px;
    height: 53px;
    display: flex;
}
.menu-list-item>ul>li>a{
    text-decoration: none;
    color: #000;
    font-size: 12px;
}
.menu-list-item li a i{
    text-align: center;
    font-size: 17px;
}
.menu-list-item .menu-list li{
    list-style: none;
    padding: 6px 0;
}
.menu-list-item ul{
    display: flex;
    text-align: center;
}
.menu-list-item > .menu-list > li:hover .icon-list,
.menu-list-item > .menu-list > li:hover{
    color: #fff; 
    background: #e11b1e;
}
.list{
    position: relative;
}
.menu-list-item .menu-list .row{
    width: 382px;
    height: 297px;
    background: #fff;
    box-shadow: 1px 3px 4px 0 rgba(56,60,63,.15);   
    position: absolute;
    top: 53px;
    left: 15px;
    display: none;
    z-index: 1;
}
.row .col1 ul{
    display: block;
    text-align: left;
    margin-left: -10px;
}
.row .sub-list li{
    width: 120px;
    padding: 1px 0;   
}
.sub-list>li.sub-list-child{  
    border-bottom:1px solid #e11b1e;
}
.menu-list-item > .menu-list > li:hover .row{
    display: flex;
}
.sub-list li a{
    color: #000;
    font-size: 12px;
}
.sub-list > li:hover > a{
    color: #e11b1e; 
}

/* ***********MAIN-CONTAINER******** */
.main-container{
    margin-top: 4px;
}
.main-container .main{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.main .panel{
    display: flex;
}
.panel img{
    width: 100%;
    height: 100%;
}
.main-container .panel .panel-left{
    min-width: 66.5%;
    border: 1px solid #ccc;
    position: relative;
}
.main-container .panel .panel-right{
    display: flex;
    flex-direction: column;
    min-width: 32.3%;
    margin-left: 1.2%;
}
.panel .panel-right .panel-right-top{
    width: 100%;
    height: 49%;
    margin-top: 2%;
}
.panel .panel-right .panel-right-bottom{
    width: 100%;
    height: 49%;
    margin-top: 2%;
}
.panel .panel-left .panel-left-top{
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #ccc;
    /* overflow: hidden; */
    display: block;
}
.panel .panel-left .panel-left-bottom{
    width: 100%;
    height: 20%;
}
.panel-left-bottom .panel-left-list{
    display: flex;
    width: 100%;
    height: 100%;
}
.panel-left-bottom .panel-left-list li{
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 16.667%;
    border-right: 1px solid #ccc;
    position: relative;
}
.panel-left-bottom .panel-left-list li span{
    position: absolute;
    width: 100%;
    top: -12px;
    left: 0;
    text-align: center;
    z-index: 5;
    color: #e11b1e;
    display: none;
}
.panel-left-list li span>i{
    font-size: 20px;
}
.panel-left-bottom .panel-left-list li:last-child{
    border-right: none;
}
.panel-left-bottom .panel-left-list li a{
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #000;
    align-items: center;
    font-size: 12px;
}
.panel-left-bottom .panel-left-list li a:hover{
    color: #fff;
}
.panel-left-bottom .panel-left-list li.list-item-txt:hover{
    background: #e11b1e;
    color: #fff;
}
.panel-right-bottom .panel-left-list .active{
    background: #e11b1e;
}
.panel-left-bottom .panel-left-list .active a{
    background: #e11b1e;
    color: #fff;
}

/* **********SALE************ */
.main-container .sale{
    margin-top: 10px;
    width: 100%;
    height: auto;
}
/* ************ */

/* ****SECTION-HEADER */
.products-container img{
    max-width: 100%;
    width: 100%;
    height: 100%;
}
.section-header{
    width: 100%;
    height: 51px;
    margin-top: 10px;
    border: 1px solid #f7f7f7;
    display: flex;
}
.section-header .section-header-list-left{
    width:25%;
}
.section-header .section-header-list-right{
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
}
.section-header .section-header-list-left h2{
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 15px;
    position: relative;
    background:#f7f7f7 url("../img/heading-bg.jpg") top right no-repeat;
    font-size: 18px;
}
.section-header .section-header-list-left h2 a{
    color: #000;
}
.section-header .section-header-list-right .right-list{
    width: 100%;
    padding-left: 15px;
}
.section-header-list-right .right-list a{
    margin-right: 3px;
    background: #ccc;
    color: #000;
}
.section-header .list-left1{
    width: 11%;
}
.main-container .products-container{
    width: 100%;
}
.main-container .products-container .cols.cols-5{
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
}
.products-container .cols.cols-5 .col-category{
    background:#fff;
    width: 20%;
    border: 1px solid #eee;
    border-left: none;
    border-top: none;
    overflow: hidden;
}
.cols.cols-5 .col-category .products-img{
    width: 100%;
    background: #fff;
    position: relative;
}
.cols.cols-5 .col-category .products-img a{
    display: flex;
    justify-content: center;
}.cols.cols-5 .col-category .products-img a img{
    margin: 14px auto 0px;
}

/* **********COL-CATEGORY *******8*/

.col-category .products-img .giam-percent{
    position: absolute;
    width: 50px;
    height: 50px;
    background: #e11b1e;
    border-radius: 50%;
    top: 6px;
    right: 2px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.products-img .giam-percent .txt-giam-percent{
    font-size: 11px;
    font-weight: 700;
    color: #fff;
}
.col-category .products-img .sticker{
    position: absolute;
    right: 15px;
    bottom: 0;
    width: 50px;
    height: 50px;
}
.col-category .products-img .sticker-hotsale{
    position: absolute;
    left: 10px;
    top: 0;
    width: 50px;
    height: 50px;
}   
.col-category .products-img .tra-gop{
    width: 80px;
    height: 20px;
    background: #f28902;
    border-radius: 7px;
    position: absolute;
    bottom: 0px;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col-category .products-img .txt-tra-gop{
    font-size: 12px;
    font-weight: 700;
    color: #fff;
}
.cols.cols-5 .col-category .products-info,
.cols.cols-5 .col-category .products-info a
{
    width: 100%;
    background: #fff;
    color: #000;
}
.products-info .price-box{
    width: 100%;
    height: 38%;
    display: flex;
}
.col-category .products-info .price-box .price{
    width: 34%;
    height: auto;
    font-size: 12px;
    font-weight: 700;   
}
.price-box span:first-child{
    color: #e11b1e;
}
.price-box .old-price{
    color: #716b6b;
    text-decoration: line-through;
}
.cols.cols-5 .col-category .products-promotion{
    width: 100%;
    background: #fff;
    display: flex;
}
.products-promotion .promotion-list{
    width: 43%;
    height: 40px;
    margin-left: 5px;
}

.products-promotion .promotion-list .pmh-title{
    background: #555353;
    height: 20px;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    color: #fff;
}
.products-promotion .promotion-list .pmh-content{
    background: #e11b1e;;
    height: 20px;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    color: #fff;
}
.col-category .products-promotion .gift-cont{
    font-size: 12px;
    font-weight: 497;
}
.col-category .products-promotion .coupon-price{
    width: 53%;
    font-size: 12px;
    margin-left: 3px;
}
/* ************END******************** */

/* **************FOOTER************ */
.footer-container{
    width: 100%;
}
.footer{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 0 30px;
    background: #eee;
}
.footer-info .cols-4{
    width: 100%;
    display: flex;
}
.footer-info .cols-4>div{
    width: 25%;
}
.footer-info .cols-4 div a{
    font-size: 13px;
    color: #000;
    font-weight: 600;
}
/*  */
.the_tin_dung{
    width: 100%;
}
.the_tin_dung p{
    margin-bottom: 0;
}
.thanhtoan{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}
.thanhtoan  a{
    background-position: center!important;
    background-size: 40px!important;
    width: 50px;
    height: 30px;
    margin: 5px 5px 0 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: rgb(255,255,255,0);
}

.footer-ads{
    margin-top: 10px;
    width: 100%;
}
.footer-link{
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.footer-link a,
.footer-link a:hover{
    font-size: 10px;
    color: #000;
    margin-left: 3px;
}
.footer-link a::after{
    content: " / ";
}
.footer-container .diachi{
    width: 100%;
    position: relative;
}
.footer-container .diachi .thongbao{
    position: absolute;
    top: 5px;
    right: 15px;
}
.footer-container .diachi p{
    font-size: 10px;
    text-align: center;
    color: #999!important;
}
.notifi{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background: #fff;
    position: fixed;
    top: 90vh;
}
.notifi a{
    margin-top: 5px;
    justify-content: center;
    display: flex;
}
.notifi-count{
    color: #fff;
    position: absolute;
    top: -5px;
    right: 0;
    width: 20px;
    height: 20px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    background-color: #e11b1e;
}

.back-top{
    position: fixed;
    bottom: 46%;
    right: 30px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 30px;
    background: #fff;
    color: #393d3f;
    cursor: pointer;
    border: 2px #393d3f solid;
    border-radius: 99px;
    text-decoration: none;
    transition: opacity .2s ease-out;
    opacity: 1;
}
.back-bottom{
    position: fixed;
    bottom: 39%;
    right: 30px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 30px;
    background: #fff;
    color: #393d3f;
    cursor: pointer;
    border: 2px #393d3f solid;
    border-radius: 99px;
    text-decoration: none;
    transition: opacity .2s ease-out;
    opacity: 1;
}


/* *************only-sp ******************/
.header-sp{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-icon{
    height: 53px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mid-sp{
    height: 36px;
    flex-grow: 1;
    display: flex;
}
.mid-sp .cell input,button{
    height: 100%;
    width: 100%;
}
.mid-sp .cell-ip{
    width: 90%;
}
.mid-sp .cell-btn{
    width: 10%;
}
.mid-sp .cell-ip input{
    border-radius: 5px 0 0 5px;
    border: 1px solid #fff;
}
.mid-sp .cell-btn button{
    border-radius: 0 5px 5px 0;
    border: 1px solid #e11b1e;
    background: #e11b1e;
}
.header-sp .right-nav{
    height: 53px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-container{
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 53px;
    left: 0;
    z-index: 103;
    overflow-y: scroll;
    box-sizing: border-box;
}
.nav-container #nav{
    width: 100%;
    height: 100vh;
}
.nav-container #nav li a{
    width: 100%;
    font-size: 12px;
    display: block;
    border:  solid 1px #eee;
    color:  #3c3d41;
}
.nav-container #nav li{
    width: 33.3%;
    padding: 3px;
    float: left;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next{
    position: absolute;
    width: 54px;
    height: 63px;
    border: none;
    outline: none;
    opacity: 0;
}
.owl-carousel .owl-nav button.owl-prev{
    top: 37%;
    left: 0;
}
.owl-carousel .owl-nav button.owl-next{
    top: 37%;
    right: 0;
}
.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover{
    background: none;
    outline: none;
}
.panel-left-top-sp{
    display: none;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
    padding: 5px;
}
.swiper-pagination-bullet-active{
    background: #bbb;
}